.mbs-show > .row {
    overflow-x: auto;
    flex-wrap: nowrap;

}

.description-break {
    white-space: pre-wrap;
}

.adminButton {
    margin-left: 95%;

}

.admin-details {
    background-color: bisque;
    margin-bottom: 10px;
}



