#test-login {
    color:blue;
    padding-left: 5%;
}

.not-a-user {
    margin-left: 40%;
    align-items: center;

}
input
{
    background-color: white;
    color: black;
    transition-duration: .4ms;
}
input:hover
{
    background-color: gray;
}

.login-button {
    padding-left: 10%;
}

.notauser {
padding-left: 10%;
}

.login-div {
    border-radius: 30px;;
    border-color: black;
    border-style: dashed;
    margin-right: 20%;
    margin-left: 20%;
}

