.width-movies {
 width: 240px;
}

.image-container {
    position: relative;
    transition: transform 0.2;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 84%;

    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

.overlay-delete {
    position: absolute;
    background-color: rgba(220, 0, 0, 0.7);
    width: 84%;

    transition: 0.5 ease;
    opacity: 1;
    font-size: 25px;
    color: black;
    font-weight: 700;
    padding: 5px;
}